*{
  margin: 0; /*document margin*/
}
#body-wrapper{
  margin-left:auto;
    margin-right:auto;
      width:100%;
      display: block;
      
}
body{
  overflow-y:hidden;
  overflow-x: hidden;
  position:fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  
}
.navigationBar{
  position:relative;
  width: 100vw;
  height: 10.5vh;
  background: rgb(17, 17, 17);
  
  color: white;
  
 
}

.navigationBar-container{
  display: flex;
  align-items: center;
  height:100%;
}
.logo-container{
  flex: 0.7;
  margin-left: 4vw;
}
.logo{
  border-radius: 15;
  height: 8vh;
  min-width: 5vw;
}

.menu-container{
  flex: 6;
  overflow: visible;
}
.menu-list{
  display: flex;
  list-style: none;
  text-align: center;
  font-size: 1.3vw;
  font-family: Arial, Helvetica, sans-serif;
}
.menu-list-item{
  display: flex;
  margin-right: 1.9vw;
  color: white;
  text-decoration: none;
}
#home:hover,#home{
  color: green;
  text-decoration: underline;
  font-size: 1.4vw;
}

#animelist:hover{
  color: green;
  text-decoration: underline;
  
}
#animes:hover{
  color: green;
  text-decoration: underline;
}

.search-container{
  flex: 1.8;
  margin-left: 5vw;   
}
input{
  width: 10vw;
  height: 28px;
  border-radius: 10px;
  font-size: 1.2vw;
  transition: width 1s;
}
input:hover{
  width: 14vw;
  height: 33px;
}

.profile-container{
position: relative;
flex:0.1vw;
display: flex;
align-items: center;
overflow: auto;
width: 1vw;



}
#view-profile-container{
position: sticky;
left:70%;
height:400px;
width: 300px;
background-color: wheat;
bottom: 206.8px;
border-bottom-color: #002800;
border-left-color:#002800;
border-right-color:#002800;
border-left-style: solid; border-right-style: solid; border-bottom-style: solid;
display:none;

}
.profile-picture{
  height: 33px;
  width: 33px;
  border-radius: 50%;
  object-fit: cover;
}
.profile-text-container{
  margin: 0 17px;
  font-family: Arial, Helvetica, sans-serif;
 
}
hr{
  height: 2px;
  background-color: rgb(0, 40, 0);
  border: none;
overflow: visible;
}
/*#######################################################################*/

.main-container{
  
  background-color: rgb(25, 25, 25);
  height: calc(100vh - 60px);
  overflow: auto;
  color: white;
  display: block;
  
}
::-webkit-scrollbar {
width: 0;  /* Remove scrollbar space */
background: transparent; 
}
.featured-container{
display: flex;
height: 30vw;
width: 100vw;
align-self: center;

}
.featured-anime-container{
position: relative;
height: 30vw;
width: 100vw;
min-width: 60vw;

}

.featured-anime{
position: absolute;
width: 100%;
height: 100%;
object-fit:cover;
transition: all 1s ease-in-out;

}
.featured-anime:hover{
opacity: 0;
}
.featured-anime:hover {
opacity:0.5;
}
.trailer1{
position: absolute;
object-fit: cover;
width: 100%;
height: 100%;
opacity: 0;
}
.featured-anime-description-border{
position: relative;
display: block;
margin-left: 1.6vw;
margin-right: 1.6vw;
margin-top: 0.8vw;
height: 29vw;
width: 45vw;
overflow: auto;


}
.featured-anime-description-title{
font-size: 3vw;
top:0.7vw;
position: sticky;
font-family:Georgia, 'Times New Roman', Times, serif;

}
.featured-anime-description-container{
height: 19vw;

}
.featured-anime-description{
overflow: auto;
height: 97%;
text-align:justify;
margin-top: 2.4vw;
margin-left: 2.4vw;
margin-right: 2.2vw;
font-size: 1.3vw;


}
#playbutton-container{
  text-align: center;
  
}

.playbutton{
  margin-top: 1.6vw;
width: 9.5vw;
background-color: #004700; 
color: white;
text-decoration: none;
font-size: 1.4vw;


}

/*#############################################################################################*/
.MOVIE-GOD{
margin-top: 20px;
margin-left: 40px;
margin-right: 40px;

}
.movie-list-container {

height: 50%;
overflow: hidden;
margin-bottom: 45px;

width:100vw;
}
.movie-list-title{
  font-weight: bold;
  font-size: 2.2vw;
  padding-left: 1.9vw;
  padding-bottom: 0.9vw;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.movie-list-wrapper {
  position: relative;
  overflow: hidden;
  width: 95vw;
  
}

.movie-list {
  display: flex;
  align-items: center;
  height: 270px;
  transform: translateX(0);
  transition: all 0.4s ease-in-out;
  
}

.movie-list-item {    
  margin-right: 2.3vw;
  position: relative;
 
}

.movie-list-item-img {
  border-style: solid;
  transition: all 0.5s ease-in-out;
  width: 19.5vw;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  margin-left: 20px;
  
}

.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0;
}

.movie-title-play-button-container{
  display: flex;
  bottom: 0%;
  left: 15px;
  padding: 0,50px;
  border-radius: 3px;
  align-items: center;
  position: absolute;
  opacity: 0;
  transition: 0.5 s all ease-in;
}
.movie-list-item-title {
  padding-left: 8px;
  background-color: rgb(0, 40, 0);
  font-size: 1.7vw;
}

.play-button-outer {
  width: 2.4vw;
  height: 2vw;
  background-color: rgb(0, 40, 0);
  cursor: pointer;
  transition: 1s all ease-in-out;
}
.play-button {  
  margin-left: 10.5px;
  margin-top: 5.3px;
  border-style: solid;
  border-width: 1.5vh 0 1.5vh 3vh;
  border-color: transparent transparent transparent rgb(255, 255, 255);
}

.trailer2{
  transition: 0.5s all ease-in;
  margin-left: 30px;
  object-fit: cover;
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 0;   
  border-radius: 20px;
  border-color: #002800;
  width:19.8vw;
  height: 15.1vw;
}
.trailer2:hover{
    border-style: solid;
    
}
.trailer2:hover{
  transform: scale(1.2);
}
.movie-list-item:hover .trailer2, 
.movie-list-item:hover .movie-title-play-button-container

{
opacity: 1;
}

.arrowright {
  font-size: 6vw;
  position: absolute;
  top: 90px;
  right: 30px;
  color: rgb(211, 211, 211);
  opacity: 0.7;
  cursor: pointer;
  
  transition: all 0.3s ease-in-out;
}
.arrowleft {
  font-size: 6vw;
  position: absolute;
  top: 90px;
  left: 8px;
  color: rgb(211, 211, 211);
  opacity: 0;
  cursor: pointer;
  
  transition: all 0.3s ease-in-out;
}
.arrowleft:hover,.arrowright:hover{
  transform: scale(1.2);
}
